## Observations and Insights

In [6]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset

# Display the data table for preview
mouse_metadata.head()

  Mouse ID Drug Regimen     Sex  Age_months  Weight (g)
0     k403     Ramicane    Male          21          16
1     s185    Capomulin  Female           3          17
2     x401    Capomulin  Female          16          15
3     m601    Capomulin    Male          22          17
4     g791     Ramicane    Male          11          16

In [7]:
study_results.head()

  Mouse ID  Timepoint  Tumor Volume (mm3)  Metastatic Sites
0     b128          0                45.0                 0
1     f932          0                45.0                 0
2     g107          0                45.0                 0
3     a457          0                45.0                 0
4     c819          0                45.0                 0

In [13]:
# Before beginning the analysis, check the data for any mouse ID with duplicate time points and
# remove any data associated with that mouse ID.
len(study_results)

1893

In [14]:
study_results.duplicated(subset=["Mouse ID","Timepoint"])
study_results.drop_duplicates
len(study_results)

1893

In [18]:
# Combine the data into a single dataset
combined_df = pd.merge(mouse_metadata,study_results,on="Mouse ID")
# combined_df.head()

In [19]:
# Display the data table for preview
combined_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [33]:
# Checking the number of mice.

len(mouse_metadata)

249

In [42]:
len(study_results["Mouse ID"].unique().tolist())
len(study_results["Mouse ID"].tolist())

1893

In [35]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
study_results.duplicated(subset=["Mouse ID","Timepoint"]).sum()

5

In [31]:
# Count the number of non-duplicates
(~study_results.duplicated()).sum()
(~study_results.duplicated(subset=["Mouse ID","Timepoint"]).sum())

-6

In [ ]:
study_results.loc[study_results.duplicated(), :]

In [4]:
# Optional: Get all the data for the duplicate mouse ID.

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, 
# and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [41]:
combined_df.head()
combined_df.groupby("Tumor Volume (mm3)").mean()
combined_df.groupby(["Tumor Volume (mm3)"],["Drug Regimen"]).mean()

TypeError: unhashable type: 'list'

In [43]:
combined_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [44]:
combined_df.groupby(["Tumor Volume (mm3)","Drug Regimen"]).mean()

,,Age_months,Weight (g),Timepoint,Metastatic Sites
Tumor Volume (mm3),Drug Regimen,,,,
22.050126,Ramicane,21.0,16.0,45.0,1.0
23.343598,Capomulin,3.0,17.0,45.0,1.0
24.365505,Ramicane,21.0,16.0,40.0,1.0
25.472143,Capomulin,3.0,17.0,40.0,1.0
26.546993,Ramicane,21.0,16.0,35.0,1.0
...,...,...,...,...,...
75.113288,Naftisol,2.0,25.0,45.0,2.0
75.123690,Stelasyn,22.0,28.0,45.0,1.0
75.294936,Ketapril,8.0,28.0,45.0,4.0
76.668817,Naftisol,8.0,26.0,45.0,3.0
78.567014,Ketapril,24.0,30.0,45.0,4.0

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen